In [2]:
import pandas as pd

In [6]:
df = pd.read_json('consolidated_feedback.jsonl',lines= True)

In [14]:
df.columns

Index(['campaign_id', 'user_id', 'request_id', 'auction_cpm', 'auction_cpa',
       'auction_cpc', 'target_age_range', 'target_location', 'target_gender',
       'target_income_bucket', 'target_device_type', 'campaign_start_time',
       'campaign_end_time', 'expenditure_amount', 'user_action', 'timestamp',
       'click', 'view', 'acquisition'],
      dtype='object')

In [16]:
df.to_csv('consolidated_feedback.csv',index=False)

In [18]:
df

,campaign_id,user_id,request_id,auction_cpm,auction_cpa,auction_cpc,target_age_range,target_location,target_gender,target_income_bucket,target_device_type,campaign_start_time,campaign_end_time,expenditure_amount,user_action,timestamp,click,view,acquisition
0,5487ea8a-8afa-11f0-b7f6-0e087721c0e9,063e41a0-174e-11eb-80dd-faffc2427b62,718cfda3-8335-45c4-9d43-f7dcf261d026,0.000031,0.0596,0.00117,0 - 0,"Bangalore, Karnataka, India",F,M,Windows Computer,2025-09-06 08:00:00+05:30,2025-09-07 21:00:00+05:30,0.0000,view,2025-09-07 22:05:15+05:30,0,1,0
1,7772bc8e-8aee-11f0-b7f6-0e087721c0e9,19f21f00-174e-11eb-80dd-faffc2427b62,45804340-7aaf-480f-81ba-63fc5f7aefa0,0.000020,0.0546,0.00139,25 - 35,"Patna, Bihar, India",All,All,Windows Computer,2025-09-06 06:00:00+05:30,2025-09-07 09:00:00+05:30,0.0000,view,2025-09-07 22:25:34+05:30,0,1,0
2,5ee63ff4-8b90-11f0-b7f6-0e087721c0e9,045902bc-174e-11eb-80dd-faffc2427b62,35b40d3a-3958-4ded-894e-756572af1b9b,0.000031,0.0590,0.00057,0 - 0,"Delhi, Delhi, India",All,All,Android Mobile,2025-09-07 02:00:00+05:30,2025-09-08 23:00:00+05:30,0.0000,view,2025-09-07 22:50:06+05:30,0,1,0
3,5ee63ff4-8b90-11f0-b7f6-0e087721c0e9,0a7b5e2e-174e-11eb-80dd-faffc2427b62,c036da7c-b6e1-430d-be38-da65e31c6598,0.000031,0.0590,0.00057,0 - 0,"Delhi, Delhi, India",All,All,Android Mobile,2025-09-07 02:00:00+05:30,2025-09-08 23:00:00+05:30,0.0000,view,2025-09-07 22:08:16+05:30,0,1,0
4,f1506942-8a90-11f0-b7f6-0e087721c0e9,0e62984a-174e-11eb-80dd-faffc2427b62,9a4564cc-92f5-4d53-b0cf-cf84393e9483,0.000017,0.0289,0.00036,0 - 0,"Delhi, Delhi, India",F,All,Linux Computer,2025-09-05 19:00:00+05:30,2025-09-06 23:00:00+05:30,0.0000,view,2025-09-07 23:30:44+05:30,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,e477950e-8a1f-11f0-b7f6-0e087721c0e9,26024a5e-174e-11eb-80dd-faffc2427b62,c2263b14-4947-424d-bbbf-aeab31bd8ea6,0.000005,0.0022,0.00046,50 - 60,"Coimbatore, Tamil Nadu, India",All,All,Android Mobile,2025-09-05 06:00:00+05:30,2025-09-06 08:00:00+05:30,0.0000,view,2025-09-07 20:45:27+05:30,0,1,0
1180,2deb00cc-8bdd-11f0-b7f6-0e087721c0e9,15648d56-174e-11eb-80dd-faffc2427b62,eba54e4b-aaaf-4da5-bc71-c25fcac0068a,0.000023,0.0316,0.00131,35 - 50,"Mumbai, Maharashtra, India",All,All,iPhone,2025-09-07 11:00:00+05:30,2025-09-08 23:00:00+05:30,0.0000,view,2025-09-07 21:48:31+05:30,0,1,0
1181,6413362e-8b29-11f0-b7f6-0e087721c0e9,103c58d6-174e-11eb-80dd-faffc2427b62,96eb3f98-f2a8-44ee-8cba-f318afd61117,0.000024,0.0435,0.00043,0 - 0,"Hyderabad, Telangana, India",All,H,Android Mobile,2025-09-06 13:00:00+05:30,2025-09-07 23:00:00+05:30,0.0435,acquisition,2025-09-07 23:36:20+05:30,1,1,1
1182,6413362e-8b29-11f0-b7f6-0e087721c0e9,23b4b2d2-174e-11eb-80dd-faffc2427b62,44fd9882-2afb-4067-9ad2-0bebe4a39fcd,0.000024,0.0435,0.00043,0 - 0,"Hyderabad, Telangana, India",All,H,Android Mobile,2025-09-06 13:00:00+05:30,2025-09-07 23:00:00+05:30,0.0000,view,2025-09-07 22:24:17+05:30,0,1,0
1183,afd8608a-8b87-11f0-b7f6-0e087721c0e9,ffb44f0a-174d-11eb-80dd-faffc2427b62,93d260ab-2006-4bb2-a056-245f90ba27f2,0.000029,0.0535,0.00030,35 - 50,"Ahmedabad, Gujrat, India",F,All,Android Mobile,2025-09-07 01:00:00+05:30,2025-09-08 12:00:00+05:30,0.0000,view,2025-09-07 22:22:36+05:30,0,1,0

In [20]:
21/107

0.19626168224299065

In [22]:
df[df.campaign_id =='a91ea5c8-8a1b-11f0-b7f6-0e087721c0e9']

Empty DataFrame
Columns: [campaign_id, user_id, request_id, auction_cpm, auction_cpa, auction_cpc, target_age_range, target_location, target_gender, target_income_bucket, target_device_type, campaign_start_time, campaign_end_time, expenditure_amount, user_action, timestamp, click, view, acquisition]
Index: []